.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: rgb(199, 84, 18);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

table th {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

table td {
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

table {
  border-collapse: collapse;
}

table, td {
  border: 2px solid black;
}

div.NovoEmpregado {
  border: 1px solid black;
  background-color: #bdbdbd;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  width: 500px;
  height: 300px;
  padding: 8px;
  margin-top: 16px;
  margin-left: 2px;
}

.NovoEmpregado input {
width: 100%;
clear: both;
}

p { 
  display: table-row;  
}

label { 
  width: auto;
  height: 20px; 
  display: table-cell; 
}

input {
  margin-left: 20px;
  display: table-cell; 
}

input.form-control {
  width: 300px;
  height: 20px; 
  margin-top: 4px;
  margin-bottom: 4px;
}

button.FormBTNS {
  font-size: 18px;
  margin-top: 30px;
  width: 100px;
  height: 50px;  
  margin-left: 10px;
  margin-right: 10px;
}

div.alinhaNovoEmpregado {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
}

div.BodyMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
}

div.EditaAdiciona {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
}

div.EscondeEditor {
  visibility: hidden;
}

form.AlertaExcluir {
  margin: auto;
  width: auto;
  padding: 2em;
  border: 10px solid rgb(255, 0, 0);
  border-radius: 4em;
  background-color: rgb(119, 119, 119);
}

div.BTNExcluir {
 margin-left: 55px;
}

div.AlertaExcluir {
  visibility: hidden;
  position: absolute;
  top: 35%;
  left: 35%;
}